{% extends "main.html" %}
{% block content %}
<h1>Login</h1>

{% from "_render_field.html" import render_field %}

<form method="post" action="{{url_for('login')}}">
	<dl>
		{{ login.csrf_token }}
		<div class="row">
			<div class="form-group col-md-5">
			 {{ render_field(login.email, class="form-control") }}
			</div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
				{{ render_field(login.password, class="form-control") }}
			</div>
        </div>

        <div class="form-group">
			{{ render_field(login.remember) }}
		</div>
        <div class="form-group">
            {{ render_field(login.recaptcha) }}
        </div>

	</dl>

	<input class="btn btn-primary button" type="submit" value="Submit">
</form>


{% endblock %}



